Repository CommonsEngine/Sovereign: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,cjs,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{html,json,md,css,scss}": ["prettier --write"]
}

feat: add app extension points
  packages/manifest/schema/manifest.schema.json
  packages/manifest/src/index.ts
  plugins/com.sovereign.launcher/manifest.json
Due: eslint --fix, prettier --write

feat: filter launcher apps by extension point
  platform/app/page.tsx
  platform/src/launcher/get-installed-apps.ts
Due: eslint --fix, prettier --write

feat: render sidebar app extension point
  platform/app/layout.tsx
  platform/src/launcher/get-installed-apps.ts
Due: eslint --fix, prettier --write

style: add initial platform layout styling
  platform/app/globals.css
Due: prettier --write

feat: add settings core app manifest
  platform/app/layout.tsx
  plugins/com.sovereign.tasks/manifest.json
Due: eslint --fix, prettier --write

feat: add core app registry metadata
  registry/apps/com.sovereign.launcher.json
  registry/apps/com.sovereign.tasks.json
  registry/index.json
Due: prettier --write

feat: add app source module generation
  plugins/com.sovereign.launcher/src/index.tsx
  plugins/com.sovereign.tasks/src/index.tsx
  tools/generate-app-registry.ts
Due: eslint --fix, prettier --write

feat: render route-source app modules
  platform/src/runtime/render-app-runtime.tsx
Due: eslint --fix, prettier --write

feat: add app runtime shell
  platform/app/apps/[appId]/page.tsx
  platform/app/page.tsx
  platform/src/runtime/app-runtime-shell.tsx
  platform/src/runtime/index.ts
Due: eslint --fix, prettier --write

feat: add Sovereign SDK foundation
  packages/sdk/src/auth.ts
  packages/sdk/src/events.ts
  packages/sdk/src/index.ts
  packages/sdk/src/notifications.ts
  packages/sdk/src/storage.ts
Due: eslint --fix, prettier --write

feat: pass SDK context to route-source apps
  platform/src/runtime/render-app-runtime.tsx
  platform/src/sdk/create-app-sdk.ts
  platform/src/sdk/index.ts
  plugins/com.sovereign.launcher/src/index.tsx
Due: eslint --fix, prettier --write

refactor: add shared app props type
  packages/sdk/src/index.ts
  packages/sdk/src/types.ts
  plugins/com.sovereign.launcher/src/index.tsx
Due: eslint --fix, prettier --write

feat: gate SDK capabilities by manifest permissions
  platform/src/runtime/render-app-runtime.tsx
  platform/src/sdk/create-app-sdk.ts
Due: eslint --fix, prettier --write

refactor: model permission-gated SDK types
  packages/sdk/src/types.ts
  plugins/com.sovereign.launcher/src/index.tsx
Due: eslint --fix, prettier --write

refactor: add permission helper
  platform/src/permissions/has-permission.ts
  platform/src/permissions/index.ts
  platform/src/sdk/create-app-sdk.ts
Due: eslint --fix, prettier --write

refactor: add permission constants
  packages/manifest/src/index.ts
  packages/manifest/src/permissions.ts
  platform/src/sdk/create-app-sdk.ts
Due: eslint --fix, prettier --write

chore: fix build process
  package.json
  platform/app/layout.tsx
  platform/package.json
  platform/src/runtime/index.ts
  platform/src/runtime/render-app-runtime.tsx
  platform/src/runtime/types.ts
  tools/generate-app-registry.ts
Due: eslint --fix, prettier --write

feat: implement manifest permission validation and generated permission metadata
  packages/manifest/src/index.ts
  packages/manifest/src/permissions.ts
  packages/manifest/src/validate.ts
  platform/src/permissions/get-app-permissions.ts
  platform/src/permissions/index.ts
  tools/generate-app-registry.ts
Due: eslint --fix, prettier --write

feat: use the generated permission metadata as the source of truth for SDK capability enforcement
  platform/src/runtime/render-app-runtime.tsx
  platform/src/sdk/create-app-sdk.ts
Due: eslint --fix, prettier --write

feat: add support for iframe-local
  packages/manifest/schema/manifest.schema.json
  packages/manifest/src/index.ts
  platform/app/api/apps/[appId]/iframe/[[...assetPath]]/route.ts
  platform/src/runtime/iframe-local-runtime.tsx
  platform/src/runtime/index.ts
  platform/src/runtime/render-app-runtime.tsx
  platform/src/runtime/types.ts
  plugins/com.sovereign.iframe-demo/iframe/index.html
  plugins/com.sovereign.iframe-demo/iframe/runtime.js
  plugins/com.sovereign.iframe-demo/iframe/style.css
  plugins/com.sovereign.iframe-demo/manifest.json
  tools/generate-app-registry.ts
Due: eslint --fix, prettier --write

feat: add support for iframe-remote
  packages/manifest/schema/manifest.schema.json
  packages/manifest/src/index.ts
  platform/src/runtime/iframe-remote-runtime.tsx
  platform/src/runtime/index.ts
  platform/src/runtime/render-app-runtime.tsx
  plugins/com.sovereign.remote-demo/manifest.json
Due: eslint --fix, prettier --write

feat: add support for external runtime
  packages/manifest/schema/manifest.schema.json
  packages/manifest/src/index.ts
  platform/src/runtime/external-app-runtime.tsx
  platform/src/runtime/index.ts
  platform/src/runtime/render-app-runtime.tsx
  plugins/com.sovereign.external-demo/manifest.json
Due: eslint --fix, prettier --write

feat: implement iframe-local route sync
  platform/app/apps/[appId]/[[...appPath]]/page.tsx
  platform/src/runtime/iframe-local-frame.tsx
  platform/src/runtime/iframe-local-runtime.tsx
  platform/src/runtime/index.ts
  platform/src/runtime/render-app-runtime.tsx
  plugins/com.sovereign.iframe-demo/iframe/index.html
  plugins/com.sovereign.iframe-demo/iframe/runtime.js
  plugins/com.sovereign.iframe-demo/iframe/style.css
Due: eslint --fix, prettier --write

ignore plugins/* except whitelisted plugins
  .gitignore
Due: none

ignore plugins/* except whitelisted plugins
  .gitignore
  plugins/com.sovereign-demo.external/manifest.json
  plugins/com.sovereign-demo.iframe-local/iframe/index.html
  plugins/com.sovereign-demo.iframe-local/iframe/runtime.js
  plugins/com.sovereign-demo.iframe-local/iframe/style.css
  plugins/com.sovereign-demo.iframe-local/manifest.json
  plugins/com.sovereign-demo.iframe-remote/manifest.json
  plugins/com.sovereign.tasks/manifest.json
  plugins/com.sovereign.tasks/src/index.tsx
Due: eslint --fix, prettier --write

feat: implement support for vite:react-ts
  packages/manifest/schema/manifest.schema.json
  packages/manifest/src/index.ts
  platform/src/runtime/render-app-runtime.tsx
  plugins/com.sovereign-demo.vite-react/.gitignore
  plugins/com.sovereign-demo.vite-react/README.md
  plugins/com.sovereign-demo.vite-react/eslint.config.js
  plugins/com.sovereign-demo.vite-react/index.html
  plugins/com.sovereign-demo.vite-react/manifest.json
  plugins/com.sovereign-demo.vite-react/package.json
  plugins/com.sovereign-demo.vite-react/public/favicon.svg
  plugins/com.sovereign-demo.vite-react/public/icons.svg
  plugins/com.sovereign-demo.vite-react/src/App.css
  plugins/com.sovereign-demo.vite-react/src/App.tsx
  plugins/com.sovereign-demo.vite-react/src/assets/hero.png
  plugins/com.sovereign-demo.vite-react/src/assets/react.svg
  plugins/com.sovereign-demo.vite-react/src/assets/vite.svg
  plugins/com.sovereign-demo.vite-react/src/index.css
  plugins/com.sovereign-demo.vite-react/src/main.tsx
  plugins/com.sovereign-demo.vite-react/tsconfig.app.json
  plugins/com.sovereign-demo.vite-react/tsconfig.json
  plugins/com.sovereign-demo.vite-react/tsconfig.node.json
  plugins/com.sovereign-demo.vite-react/vite.config.ts
  tools/generate-app-registry.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor: update plugin names and manifest
  plugins/com.sovereign-demo.iframe-html/iframe/index.html
  plugins/com.sovereign-demo.iframe-html/iframe/runtime.js
  plugins/com.sovereign-demo.iframe-html/iframe/style.css
  plugins/com.sovereign-demo.iframe-html/manifest.json
  plugins/com.sovereign-demo.iframe-local/manifest.json
  plugins/com.sovereign-demo.iframe-remote/manifest.json
  plugins/com.sovereign-demo.internal-react/manifest.json
  plugins/com.sovereign-demo.internal-react/src/index.tsx
  plugins/com.sovereign-demo.vite-react/manifest.json
  plugins/com.sovereign-demo.vite-react/vite.config.ts
Due: eslint --fix, prettier --write

refactor: update manifest schema
  packages/manifest/schema/manifest.schema.json
  packages/manifest/src/index.ts
  packages/manifest/src/permissions.ts
  platform/app/api/apps/[appId]/iframe/[[...assetPath]]/route.ts
  platform/src/launcher/get-installed-apps.ts
  platform/src/runtime/external-app-runtime.tsx
  platform/src/runtime/iframe-local-runtime.tsx
  platform/src/runtime/iframe-remote-runtime.tsx
  platform/src/runtime/index.ts
  platform/src/runtime/render-app-runtime.tsx
  platform/src/sdk/create-app-sdk.ts
  plugins/com.sovereign-demo.iframe-local/manifest.json
  plugins/com.sovereign-demo.internal-html/index.html
  plugins/com.sovereign-demo.internal-html/manifest.json
  plugins/com.sovereign-demo.internal-html/style.css
  plugins/com.sovereign-demo.internal-react/manifest.json
  tools/generate-app-registry.ts
Due: eslint --fix, prettier --write

refactor: update manifest json + schema + readme
  README.md
  packages/manifest/schema/manifest.schema.json
  packages/manifest/src/index.ts
  platform/app/api/apps/[appId]/iframe/[[...assetPath]]/route.ts
  platform/src/runtime/render-app-runtime.tsx
  platform/src/runtime/types.ts
  plugins/com.sovereign-demo.dom-react/.gitignore
  plugins/com.sovereign-demo.dom-react/README.md
  plugins/com.sovereign-demo.dom-react/eslint.config.js
  plugins/com.sovereign-demo.dom-react/index.html
  plugins/com.sovereign-demo.dom-react/manifest.json
  plugins/com.sovereign-demo.dom-react/package.json
  plugins/com.sovereign-demo.dom-react/public/favicon.svg
  plugins/com.sovereign-demo.dom-react/public/icons.svg
  plugins/com.sovereign-demo.dom-react/src/App.css
  plugins/com.sovereign-demo.dom-react/src/App.tsx
  plugins/com.sovereign-demo.dom-react/src/assets/hero.png
  plugins/com.sovereign-demo.dom-react/src/assets/react.svg
  plugins/com.sovereign-demo.dom-react/src/assets/vite.svg
  plugins/com.sovereign-demo.dom-react/src/index.css
  plugins/com.sovereign-demo.dom-react/src/main.tsx
  plugins/com.sovereign-demo.dom-react/tsconfig.app.json
  plugins/com.sovereign-demo.dom-react/tsconfig.json
  plugins/com.sovereign-demo.dom-react/tsconfig.node.json
  plugins/com.sovereign-demo.dom-react/vite.config.ts
  plugins/com.sovereign-demo.iframe-local/manifest.json
  plugins/com.sovereign-demo.iframe-remote/manifest.json
  plugins/com.sovereign-demo.standalone-html/index.html
  plugins/com.sovereign-demo.standalone-html/manifest.json
  plugins/com.sovereign-demo.standalone-html/style.css
  plugins/com.sovereign-demo.standalone-react/manifest.json
  plugins/com.sovereign-demo.standalone-react/src/index.tsx
  tools/generate-app-registry.ts
  yarn.lock
Due: eslint --fix, prettier --write

initial commit
  docs/sovereign-implementation-tasks.md
  docs/sovereign-proposal-plan-srs.md
Due: prettier --write

chore: scaffold monorepo (Task 0.3.01)
  .gitignore
  README.md
  apps/.gitkeep
  bin/.gitkeep
  data/.gitkeep
  package.json
  packages/.gitkeep
  plugins/.gitkeep
  pnpm-lock.yaml
  pnpm-workspace.yaml
  runtime/.gitkeep
  scripts/install-plugins.ts
  turbo.json
Due: eslint --fix, prettier --write

chore: scaffold monorepo
  .gitignore
  README.md
  apps/.gitkeep
  bin/.gitkeep
  data/.gitkeep
  package.json
  packages/.gitkeep
  plugins/.gitkeep
  pnpm-lock.yaml
  pnpm-workspace.yaml
  runtime/.gitkeep
  scripts/install-plugins.ts
  turbo.json
Due: eslint --fix, prettier --write

docs: add CLAUDE.md — Claude Code session conventions
  CLAUDE.md
Due: prettier --write

docs: update SRS to v0.6 and implementation tasks to v0.4
  docs/sovereign-implementation-tasks.md
  docs/sovereign-proposal-plan-srs.md
Due: prettier --write

docs: add GitHub project meta — templates, contributing guide, security policy
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  SECURITY.md
Due: prettier --write

fix: remove duplicate security advisory link from issue template config
  .github/ISSUE_TEMPLATE/config.yml
Due: none

docs: lock down build strategy and dev DX
  CLAUDE.md
  docs/sovereign-implementation-tasks.md
  docs/sovereign-proposal-plan-srs.md
Due: prettier --write
