Repository CommonsEngine/Sovereign: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,cjs,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{html,json,md,css,scss}": ["prettier --write"]
}

test(auth): guard freshAge:0; docs for the fresh-session gotcha
  CLAUDE.md
  apps/auth/src/auth.test.ts
  docs/sovereign-implementation-tasks.md
Due: eslint --fix, prettier --write

test(account): cover deviceHint + password validation; fix iOS UA order
  plugins/account/app/_components/SessionList.tsx
  plugins/account/app/_lib/device-hint.test.ts
  plugins/account/app/_lib/device-hint.ts
  plugins/account/app/_lib/password.test.ts
  plugins/account/app/_lib/password.ts
  plugins/account/app/actions.ts
Due: eslint --fix, prettier --write

feat: implement scripts/install-plugins.ts (plugin install script)
  .gitignore
  CLAUDE.md
  CONTRIBUTING.md
  docs/sovereign-implementation-tasks.md
  package.json
  scripts/install-plugins.test.ts
  scripts/install-plugins.ts
  sovereign.plugins.json
  vitest.config.ts
Due: eslint --fix, prettier --write

docs: add Task 0.5.01 (PWA) as the next step in CLAUDE.md status
  CLAUDE.md
Due: prettier --write

docs: document developing a plugin against a local Sovereign
  CONTRIBUTING.md
Due: prettier --write

feat(runtime): configure the runtime as an installable PWA
  .gitignore
  .prettierignore
  CLAUDE.md
  docs/sovereign-implementation-tasks.md
  eslint.config.ts
  pnpm-lock.yaml
  runtime/app/layout.tsx
  runtime/app/offline/page.tsx
  runtime/middleware.ts
  runtime/next.config.ts
  runtime/package.json
  runtime/public/icons/apple-touch-icon.png
  runtime/public/icons/icon-192.png
  runtime/public/icons/icon-512.png
  runtime/public/icons/icon-maskable-512.png
  runtime/public/manifest.json
  runtime/src/pwa-manifest.test.ts
Due: eslint --fix, prettier --write

chore: production Docker images from Next.js standalone output
  CLAUDE.md
  Dockerfile
  apps/auth/Dockerfile
  apps/auth/next.config.ts
  docker-compose.prod.yml
  docker-compose.yml
  docs/self-hosting.md
  runtime/app/api/health/route.ts
  runtime/middleware.ts
  runtime/next.config.ts
Due: eslint --fix, prettier --write

docs: incorporate overlay shell variant (RFC 0001) into SRS and tasks
  .gitignore
  .prettierignore
  docs/rfcs/0001-overlay-shell-variant.md
  docs/sovereign-implementation-tasks.md
  docs/sovereign-proposal-plan-srs.md
Due: prettier --write

feat(sdk): reserve cross-plugin data-sharing surface and permissions
  docs/rfcs/0002-cross-plugin-data-sharing.md
  docs/sovereign-implementation-tasks.md
  docs/sovereign-proposal-plan-srs.md
  packages/manifest/package.json
  packages/manifest/src/schema.ts
  packages/manifest/src/validate.test.ts
  packages/sdk/package.json
  packages/sdk/src/data.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/index.ts
  packages/sdk/src/sdk.test.ts
Due: eslint --fix, prettier --write

chore: relocate private working area from docs/local to /local
  .gitignore
  .prettierignore
  docs/sovereign-implementation-tasks.md
Due: prettier --write

docs: add RFC 0003 (plugin monetization) and RFC 0004 (per-plugin database)
  docs/rfcs/0003-plugin-monetization.md
  docs/rfcs/0004-per-plugin-database.md
Due: prettier --write

feat(db): make the platform data layer async (Postgres prerequisite)
  CLAUDE.md
  docs/upgrade.md
  packages/db/package.json
  packages/db/src/platform-db.test.ts
  packages/db/src/platform-db.ts
  packages/sdk/package.json
  packages/sdk/src/platform.ts
  packages/sdk/src/sdk.test.ts
  runtime/app/(platform)/page.tsx
  runtime/app/api/account/prefs/route.ts
  runtime/app/api/admin/health/route.ts
  runtime/app/api/admin/plugins/[id]/route.ts
  runtime/app/api/admin/plugins/disabled/route.ts
  runtime/app/api/admin/plugins/route.ts
  runtime/app/api/admin/root-plugin/route.ts
  runtime/app/api/admin/settings/route.ts
  runtime/app/api/plugins/route.ts
Due: eslint --fix, prettier --write

feat(db): wire Postgres (driver, dialect schema, dialect-aware execution)
  packages/db/package.json
  packages/db/src/bootstrap.ts
  packages/db/src/client.test.ts
  packages/db/src/client.ts
  packages/db/src/exec.ts
  packages/db/src/index.ts
  packages/db/src/migrate.ts
  packages/db/src/platform-db.test.ts
  packages/db/src/platform-db.ts
  packages/db/src/schema/parity.test.ts
  packages/db/src/schema/postgres/index.ts
  packages/db/src/schema/postgres/platform.ts
  runtime/app/api/admin/health/route.ts
  runtime/app/api/admin/plugins/[id]/route.ts
  runtime/app/api/admin/plugins/disabled/route.ts
  runtime/app/api/admin/plugins/route.ts
  runtime/app/api/admin/root-plugin/route.ts
  runtime/app/api/admin/settings/route.ts
  runtime/app/api/plugins/route.ts
Due: eslint --fix, prettier --write

feat(auth): Postgres support for the auth server
  apps/auth/app/api/admin/invites/route.ts
  apps/auth/app/api/admin/settings/route.ts
  apps/auth/app/api/admin/users/[id]/route.ts
  apps/auth/app/api/admin/users/route.ts
  apps/auth/package.json
  apps/auth/src/auth.ts
  apps/auth/src/db.ts
  apps/auth/src/member-list.test.ts
  apps/auth/src/member-list.ts
  apps/auth/src/migrate.ts
  apps/auth/src/settings.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

test(db,auth): Postgres parity coverage + dialect-helper unit tests
  CONTRIBUTING.md
  apps/auth/src/db.pg.test.ts
  apps/auth/src/db.test.ts
  apps/auth/src/db.ts
  packages/db/src/exec.test.ts
  packages/db/src/postgres.pg.test.ts
Due: eslint --fix, prettier --write

feat(deploy): PostgreSQL Docker variant, docs, and end-to-end validation
  .env.example
  CLAUDE.md
  docker-compose.postgres.yml
  docs/self-hosting.md
Due: prettier --write

docs: update GitHub org references to sovereignfs
  .github/ISSUE_TEMPLATE/bug_report.yml
  CONTRIBUTING.md
  SECURITY.md
  docs/plugins/api-composer.md
  docs/plugins/plainwrite.md
  docs/plugins/splitify.md
  docs/plugins/tasks.md
  docs/self-hosting.md
  docs/sovereign-implementation-tasks.md
  docs/sovereign-proposal-plan-srs.md
  packages/manifest/src/validate.test.ts
Due: eslint --fix, prettier --write

feat(cli): sv CLI with core deployment commands
  CLAUDE.md
  bin/.gitkeep
  bin/helpers.test.ts
  bin/helpers.ts
  bin/sv
  bin/sv.ts
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: add GNU AGPL v3.0 LICENSE
  LICENSE
Due: none

chore: use non-deprecated SPDX id AGPL-3.0-or-later
  package.json
  packages/db/package.json
  packages/mailer/package.json
  packages/manifest/package.json
  packages/sdk/package.json
  packages/tsconfig/package.json
  packages/ui/package.json
Due: prettier --write

docs: add License section to README
  README.md
Due: prettier --write

feat(sdk): implement sdk.db.getClient()
  CLAUDE.md
  docs/sovereign-implementation-tasks.md
  docs/upgrade.md
  packages/sdk/package.json
  packages/sdk/src/auth.ts
  packages/sdk/src/db.ts
  packages/sdk/src/index.ts
  packages/sdk/src/sdk.test.ts
  packages/sdk/src/types.ts
Due: eslint --fix, prettier --write
