Repository CommonsEngine/Sovereign: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,cjs,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{html,json,md,css,scss}": ["prettier --write"]
}

feat: accmmodate for papertrail project creation
  platform/src/handlers/projects/core/create.js
Due: eslint --fix, prettier --write

add .onDelete() hook
  platform/src/handlers/plugin.js
  platform/src/handlers/projects/core/create.js
  platform/src/handlers/projects/core/remove.js
  platform/src/public/js/sv_pg_index.js
  plugins/users/index.js
  tools/build-manifest.mjs
  tools/plugin-templates/js/index.js
  tools/plugin-templates/react/index.js
Due: eslint --fix, prettier --write

bump v4 (core)
  package.json
Due: prettier --write

bump v0.9.8
  platform/package.json
Due: prettier --write

add papertrail migration
  platform/prisma/migrations/20251116211320_papertrail_init/migration.sql
Due: none

add invite-based registration flow
  bin/sv.mjs
  platform/.env.example
  platform/prisma/base.prisma
  platform/prisma/migrations/20251116213004_invite_codes/migration.sql
  platform/scripts/data/rbac.json
  platform/src/config/env.js
  platform/src/handlers/auth/index.js
  platform/src/handlers/auth/register.js
  platform/src/handlers/invites/index.js
  platform/src/routes/api/invites.js
  platform/src/server.js
  platform/src/services/invites.js
  platform/src/views/register.html
Due: eslint --fix, prettier --write

Fix SV Tool
  bin/sv.mjs
  docs/features/invite-codes.md
  platform/src/config/env.js
Due: eslint --fix, prettier --write

Create Bulk Invites
  platform/src/views/_partials/modal/create-user.html
Due: prettier --write

Add Tests
  README.md
  tests/invites.test.mjs
Due: eslint --fix, prettier --write

Update styles
  platform/src/views/_partials/modal/create-user.html
Due: prettier --write

bump v0.10.0 (platform)
  package.json
  platform/package.json
Due: prettier --write

Allow Plugins to render Workspace Header
  platform/src/handlers/plugin.js
  platform/src/public/css/sv_styled.css
  platform/src/views/_partials/header.html
Due: eslint --fix, prettier --write

Expose Project Share Feature to Pugins
  .prettierignore
  platform/src/handlers/plugin.js
  platform/src/public/css/sv_styled.css
  platform/src/views/layouts/spa/index.html
Due: eslint --fix, prettier --write

disable capabilityCheck for Invite creation until seeding issues is fixed
  platform/src/handlers/invites/index.js
Due: eslint --fix, prettier --write

Add debug logs for prod (invites)
  platform/src/services/invites.js
Due: eslint --fix, prettier --write

Fix shared projects not counting issue
  plugins/users/routes/web/index.js
Due: eslint --fix, prettier --write

Add PaddingLeft and Right to page_wrap
  platform/src/public/css/sv_styled.css
Due: prettier --write

Increases the jsonBodyLimit
  platform/src/config/env.js
  platform/src/server.js
Due: eslint --fix, prettier --write

Improve Asset Management
  platform/src/ext-host/build-routes.js
Due: eslint --fix, prettier --write

Improve WebSocket Implementation
  docs/plugins/papertrail/realtime.md
  platform/src/server.js
  platform/src/ws/registry.js
  platform/src/ws/server.js
Due: eslint --fix, prettier --write

Add Account Settings Flow
  platform/src/config/env.js
  platform/src/handlers/auth/login.js
  platform/src/middlewares/auth.js
  platform/src/middlewares/exposeGlobals.js
  platform/src/public/css/sv_styled.css
  platform/src/public/js/account-settings.js
  platform/src/routes/api/account.js
  platform/src/server.js
  platform/src/utils/auth.js
  platform/src/utils/hbsHelpers.js
  platform/src/views/_partials/account-settings-script.html
  platform/src/views/_partials/header.html
  platform/src/views/_partials/modal/account-settings.html
  platform/src/views/index.html
  platform/src/views/layouts/spa/index.html
Due: eslint --fix, prettier --write

feat: add mcp-server
  package.json
  packages/mcp-server/README.md
  packages/mcp-server/data-store.mjs
  packages/mcp-server/mcp-server.mjs
  packages/mcp-server/server.mjs
Due: eslint --fix, prettier --write

chore: packages/mcp-server -> tools/mcp-server
  package.json
  tools/mcp-server/README.md
  tools/mcp-server/data-store.mjs
  tools/mcp-server/mcp-server.mjs
  tools/mcp-server/server.mjs
Due: eslint --fix, prettier --write

fix docker issues and make it work
  .github/workflows/docker-release.yml
  Dockerfile
  Makefile
  docker/entrypoint.sh
  docs/CLI.md
Due: prettier --write

docs: docker setup
  README.md
Due: prettier --write

fix GH Action build issue
  Dockerfile
Due: none

add api docs
  README.md
  package.json
  platform/src/public/api-docs/index.html
  platform/src/public/api-docs/redoc.standalone.js
  platform/src/server.js
  tools/build-manifest.mjs
  tools/build-openapi.mjs
  yarn.lock
Due: eslint --fix, prettier --write

simplify head.cacheBuster #123
  platform/src/handlers/plugin.js
  platform/src/views/_partials/layout/head.html
  platform/src/views/index.html
Due: eslint --fix, prettier --write

feat: add passwordless login with passkeys
  docs/features/passkeys.md
  platform/.env.example
  platform/package.json
  platform/prisma/base.prisma
  platform/prisma/migrations/20251123120000_passkeys/migration.sql
  platform/src/config/env.js
  platform/src/handlers/auth/login.js
  platform/src/handlers/security.js
  platform/src/public/js/passkeys.js
  platform/src/routes/api/passkeys.js
  platform/src/server.js
  platform/src/services/passkeys.js
  platform/src/views/_partials/header.html
  platform/src/views/login.html
  platform/src/views/security.html
  yarn.lock
Due: eslint --fix, prettier --write

fix some issues with passkey logins
  platform/src/services/passkeys.js
Due: eslint --fix, prettier --write

v0.11.0
  platform/package.json
Due: prettier --write

feat: add support for two factor authentication with totp
  platform/.env.example
  platform/package.json
  platform/prisma/base.prisma
  platform/prisma/migrations/20251123130000_totp/migration.sql
  platform/src/config/env.js
  platform/src/handlers/auth/login.js
  platform/src/handlers/auth/totp.js
  platform/src/handlers/security.js
  platform/src/public/js/passkeys.js
  platform/src/routes/api/passkeys.js
  platform/src/routes/api/totp.js
  platform/src/server.js
  platform/src/services/totp.js
  platform/src/views/login.html
  platform/src/views/security.html
  yarn.lock
Due: eslint --fix, prettier --write

docs: totp.md
  docs/features/totp.md
Due: prettier --write

v0.12.0
  platform/package.json
Due: prettier --write

add tests for passwordless logins
  tests/middlewares-user.test.mjs
  tests/plugin-state.test.mjs
  tests/projects-create.test.mjs
  tests/projects-shares.test.mjs
  tests/totp.test.mjs
  tests/utils-id.test.mjs
Due: eslint --fix, prettier --write

update tests
  package.json
  tests/e2e/api-flows.test.mjs
  yarn.lock
Due: eslint --fix, prettier --write

feat: add per user plugins enablement
  packages/types/index.d.ts
  platform/prisma/base.prisma
  platform/prisma/migrations/20251128000000_user_plugins/migration.sql
  platform/src/ext-host/build-routes.js
  platform/src/ext-host/index.js
  platform/src/handlers/index.js
  platform/src/middlewares/auth.js
  platform/src/middlewares/exposeGlobals.js
  platform/src/services/user-plugins.js
  platform/src/utils/auth.js
  platform/src/views/_partials/modal/edit-user.html
  plugins/settings/plugin.json
  plugins/users/plugin.json
  plugins/users/routes/api/index.js
  plugins/users/routes/web/index.js
  plugins/users/views/users/index.html
  tools/build-manifest.mjs
  tools/database-seed-plugins.mjs
Due: eslint --fix, prettier --write

add tests + make the plugin self-contained
  package.json
  plugins/users/routes/api/index.js
  plugins/users/routes/web/index.js
  plugins/users/services/user-plugins.js
  plugins/users/tests/user-plugins.test.mjs
Due: eslint --fix, prettier --write

add graphql spec
  docs/features/features.md
  docs/features/graphql.md
Due: prettier --write

rename userDefaultEnabled -> enrollStrategy
  packages/types/index.d.ts
  platform/prisma/base.prisma
  platform/prisma/migrations/20251128002000_plugin_enrollment/migration.sql
  platform/src/ext-host/build-routes.js
  platform/src/ext-host/index.js
  platform/src/services/user-plugins.js
  plugins/settings/plugin.json
  plugins/users/plugin.json
  plugins/users/services/user-plugins.js
  plugins/users/tests/user-plugins.test.mjs
  tools/build-manifest.mjs
  tools/database-seed-plugins.mjs
Due: eslint --fix, prettier --write
