Repository CommonsEngine/Sovereign: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

add POC version for papertrail with reactflow
  plugins/papertrail/package.json
  plugins/papertrail/plugin.json
  plugins/papertrail/src/App.jsx
  yarn.lock
Due: eslint --fix, prettier --write

Update .gitignore for plugins
  .gitignore
  plugins/.gitkeep
Due: none

Update README
  README.md
  docs/01_architecture.md
  docs/CLI.md
  docs/deveoper/developer-guide.md
  docs/features/features.md
  docs/plugins/00_plugins-architecture.md
  docs/plugins/01_plugins-capabilities.md
  docs/plugins/02_plugins-ui.md
  docs/server/websocket-hub.md
  platform/prisma/schema.prisma
Due: prettier --write

remove legacy papertrail from codebase
  plugins/papertrail-legacy/handlers/_utils.js
  plugins/papertrail-legacy/handlers/index.mjs
  plugins/papertrail-legacy/handlers/link-preview.mjs
  plugins/papertrail-legacy/index.js
  plugins/papertrail-legacy/package.json
  plugins/papertrail-legacy/plugin.json
  plugins/papertrail-legacy/prisma/extension.prisma
  plugins/papertrail-legacy/prisma/seeds.mjs
  plugins/papertrail-legacy/public/papertrail-legacy/css/board.css
  plugins/papertrail-legacy/public/papertrail-legacy/js/board.js
  plugins/papertrail-legacy/routes/api/index.js
  plugins/papertrail-legacy/routes/web/index.js
  plugins/papertrail-legacy/views/papertrail-legacy/index.html
  plugins/papertrail/.gitignore
  plugins/papertrail/README.md
  plugins/papertrail/eslint.config.js
  plugins/papertrail/index.html
  plugins/papertrail/package.json
  plugins/papertrail/plugin.json
  plugins/papertrail/public/vite.svg
  plugins/papertrail/routes/api/index.js
  plugins/papertrail/src/App.jsx
  plugins/papertrail/src/assets/react.svg
  plugins/papertrail/src/main.jsx
  plugins/papertrail/vite.config.js
Due: eslint --fix, prettier --write

Update .gitignore
  .gitignore
Due: none

add docs for tasks
  docs/plugins/tasks/spec.md
Due: prettier --write

update styles + minor changes
  .prettierignore
  platform/src/public/css/sv_styled.css
  platform/src/public/css/sv_utility.css
  yarn.lock
Due: prettier --write

Update docs
  docs/plugins/tasks/spec.md
Due: prettier --write

Generate OpenAPI spec
  .gitignore
  tools/build-manifest.mjs
Due: eslint --fix, prettier --write

Add OpenAPI spec validator
  tools/validate-openapi.mjs
Due: eslint --fix, prettier --write

Uodate npm scripts
  package.json
Due: prettier --write

Update tasks plugin config
  packages/ui-assets/icons.js
  platform/prisma/schema.prisma
Due: eslint --fix, prettier --write

add bulk changes (unverifed)
  platform/prisma/schema.prisma
  platform/src/config/env.js
  platform/src/ext-host/build-routes.js
  platform/src/middlewares/auth.js
  platform/src/utils/auth.js
  platform/src/utils/hbsHelpers.js
  platform/src/utils/tenants.js
  platform/src/views/_partials/modal/edit-user.html
  platform/src/views/_partials/sidebar.html
  plugins/users/config/roles.js
  plugins/users/plugin.json
  plugins/users/routes/api/index.js
  plugins/users/routes/web/index.js
  plugins/users/utils/tenants.js
  plugins/users/views/users/index.html
Due: eslint --fix, prettier --write

Update README
  README.md
Due: prettier --write

chore: remove generated schema.prisma
  platform/prisma/schema.prisma
Due: none

chore: update .gitignore to ignore generated schema.prisma
  .gitignore
Due: none

rename type -> framework
  bin/sv.mjs
  docs/CLI.md
  docs/plugins/00_plugins-architecture.md
  packages/types/index.d.ts
  platform/src/ext-host/build-routes.js
  platform/src/handlers/plugin.js
  plugins/blog/plugin.json
  plugins/settings/plugin.json
  plugins/splitify/plugin.json
  plugins/users/plugin.json
  tools/build-manifest.mjs
  tools/plugin-templates/custom/plugin.json
  tools/plugin-templates/spa/plugin.json
Due: eslint --fix, prettier --write

refactor: fix incorect paths
  .prettierignore
  README.md
  bin/sv.mjs
  docs/01_architecture.md
  platform/src/ext-host/build-routes.js
  tools/plugin-templates/js/README.md
  tools/plugin-templates/js/index.js
  tools/plugin-templates/js/package.json
  tools/plugin-templates/js/plugin.json
  tools/plugin-templates/js/prisma/extension.prisma
  tools/plugin-templates/js/public/.gitkeep
  tools/plugin-templates/js/routes/api/index.js
  tools/plugin-templates/js/routes/web/index.js
  tools/plugin-templates/react/README.md
  tools/plugin-templates/react/eslint.config.js
  tools/plugin-templates/react/index.html
  tools/plugin-templates/react/package.json
  tools/plugin-templates/react/plugin.json
  tools/plugin-templates/react/public/vite.svg
  tools/plugin-templates/react/routes/api/index.js
  tools/plugin-templates/react/src/App.jsx
  tools/plugin-templates/react/src/assets/react.svg
  tools/plugin-templates/react/src/main.jsx
  tools/plugin-templates/react/vite.config.js
Due: eslint --fix, prettier --write

refactor: re-introduce type field
  bin/sv.mjs
  docs/01_architecture.md
  docs/CLI.md
  docs/plugins/00_plugins-architecture.md
  packages/types/index.d.ts
  platform/src/ext-host/build-routes.js
  plugins/blog/plugin.json
  plugins/settings/plugin.json
  plugins/splitify/plugin.json
  plugins/users/plugin.json
  tools/build-manifest.mjs
  tools/plugin-templates/js/plugin.json
  tools/plugin-templates/react/plugin.json
Due: eslint --fix, prettier --write

rename draft -> enabled
  bin/sv.mjs
  docs/01_architecture.md
  docs/CLI.md
  docs/plugins/00_plugins-architecture.md
  packages/types/index.d.ts
  plugins/blog/plugin.json
  plugins/settings/plugin.json
  plugins/splitify/plugin.json
  plugins/users/plugin.json
  tools/build-manifest.mjs
  tools/plugin-templates/js/plugin.json
  tools/plugin-templates/react/plugin.json
Due: eslint --fix, prettier --write

remove blog and splitify from core plugins
  .gitignore
  plugins/blog/handlers/blog/_utils.js
  plugins/blog/handlers/blog/configure/get.js
  plugins/blog/handlers/blog/configure/index.js
  plugins/blog/handlers/blog/configure/patch.js
  plugins/blog/handlers/blog/editor/get.js
  plugins/blog/handlers/blog/editor/index.js
  plugins/blog/handlers/blog/editor/new.js
  plugins/blog/handlers/blog/get.js
  plugins/blog/handlers/blog/index.js
  plugins/blog/handlers/blog/posts/get.js
  plugins/blog/handlers/blog/posts/index.js
  plugins/blog/handlers/blog/posts/patch.js
  plugins/blog/handlers/blog/posts/post.js
  plugins/blog/handlers/blog/posts/remove.js
  plugins/blog/handlers/blog/retry-connection.js
  plugins/blog/index.js
  plugins/blog/package.json
  plugins/blog/plugin.json
  plugins/blog/prisma/extension.prisma
  plugins/blog/public/blog/js/configure.js
  plugins/blog/public/blog/js/editor.js
  plugins/blog/public/blog/js/index.js
  plugins/blog/routes/api/index.js
  plugins/blog/routes/web/index.js
  plugins/blog/views/blog/configure.html
  plugins/blog/views/blog/editor.html
  plugins/blog/views/blog/index.html
  plugins/splitify/.gitignore
  plugins/splitify/README.md
  plugins/splitify/eslint.config.js
  plugins/splitify/index.html
  plugins/splitify/package.json
  plugins/splitify/plugin.json
  plugins/splitify/public/vite.svg
  plugins/splitify/routes/api/index.js
  plugins/splitify/src/App.jsx
  plugins/splitify/src/assets/react.svg
  plugins/splitify/src/main.jsx
  plugins/splitify/vite.config.js
Due: eslint --fix, prettier --write

feat: pull plugins
  package.json
  tools/plugins-pull.mjs
Due: eslint --fix, prettier --write

rename prepare:init -> prepare:env
  README.md
  bin/sv.mjs
  docs/CLI.md
  package.json
  platform/package.json
Due: eslint --fix, prettier --write

seed plugin base data to database
  docs/plugins/01_plugins-capabilities.md
  package.json
  platform/prisma/base.prisma
  platform/prisma/migrations/20251115191753_add_plugns_model/migration.sql
  tests/database-seed-plugins.test.mjs
  tools/database-seed-all.mjs
  tools/database-seed-plugin-capabilities.mjs
  tools/database-seed-plugins.mjs
  yarn.lock
Due: eslint --fix, prettier --write

feat: enable plugin from settings
  platform/src/ext-host/index.js
  plugins/settings/routes/api/index.js
  plugins/settings/views/settings/index.html
Due: eslint --fix, prettier --write

feat: update new plugins
  package.json
  tools/plugins-update.mjs
Due: eslint --fix, prettier --write

Update CLI
  bin/sv.mjs
  tools/plugins-remove.mjs
Due: eslint --fix, prettier --write

Update Plugin Tools
  .gitignore
  platform/src/ext-host/index.js
  tools/plugins-pull.mjs
Due: eslint --fix, prettier --write

Update Docs
  docs/CLI.md
  docs/plugins/00_plugins-architecture.md
Due: prettier --write

include all plugins in manifest building
  tools/build-manifest.mjs
Due: eslint --fix, prettier --write

Update package.json
  package.json
Due: prettier --write

Update SV Backup Tool
  tools/sovereign-backup.mjs
Due: eslint --fix, prettier --write

fix deployment issues
  README.md
  platform/scripts/database-prepare.mjs
Due: eslint --fix, prettier --write

reset all prisma migrations
  platform/prisma/migrations/20251010162135_init/migration.sql
  platform/prisma/migrations/20251010164803_make_primary_email_id_optional/migration.sql
  platform/prisma/migrations/20251010195442_store_roles_capabilities_with_session/migration.sql
  platform/prisma/migrations/20251011214110_add_app_settings/migration.sql
  platform/prisma/migrations/20251011233939_update_version_registry/migration.sql
  platform/prisma/migrations/20251012132701_add_project_blog/migration.sql
  platform/prisma/migrations/20251012155145_modify_blog_schema/migration.sql
  platform/prisma/migrations/20251014232518_add_user_snapshot/migration.sql
  platform/prisma/migrations/20251017093810_add_is_test_user_field/migration.sql
  platform/prisma/migrations/20251018120000_add_project_members/migration.sql
  platform/prisma/migrations/20251018230527_rename_project_member_contributor_remaining/migration.sql
  platform/prisma/migrations/20251018232954_remove_legacy_project_ownership/migration.sql
  platform/prisma/migrations/20251019103457_add_papertrail_project_type/migration.sql
  platform/prisma/migrations/20251019195834_make_node_id_optional_pt_attachments/migration.sql
  platform/prisma/migrations/20251020203011_remove_user_ref_papertrail/migration.sql
  platform/prisma/migrations/20251107095206_remove_direct_plugin_model_ref_project/migration.sql
  platform/prisma/migrations/20251107122645_plugin_specific_schemas/migration.sql
  platform/prisma/migrations/20251107124724_rename_papertrail_paper_trail/migration.sql
  platform/prisma/migrations/20251107205803_revamp_capabilities/migration.sql
  platform/prisma/migrations/20251115191753_add_plugns_model/migration.sql
  platform/prisma/migrations/20251116102658_init/migration.sql
Due: none

fix pugin state not updating issue
  platform/src/ext-host/build-routes.js
  platform/src/ext-host/index.js
  platform/src/ext-host/plugin-state.js
  plugins/settings/routes/api/index.js
Due: eslint --fix, prettier --write

Fix build issues
  package.json
  plugins/settings/routes/api/index.js
Due: eslint --fix, prettier --write

attach platform:user with every invited user
  README.md
  platform/src/handlers/auth/index.js
Due: eslint --fix, prettier --write

fix icon colors
  package.json
  packages/ui-assets/icons.js
  platform/src/views/_partials/sidebar.html
Due: eslint --fix, prettier --write

fix sidebar icon selction
  platform/src/middlewares/exposeGlobals.js
  platform/src/views/_partials/sidebar.html
Due: eslint --fix, prettier --write

fix plugins pull tool
  tools/plugins-pull.mjs
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,cjs,jsx,ts,tsx}
  prettier --write: (any of: *.{js,mjs,cjs,jsx,ts,tsx}) or (any of: *.{html,json,md,css,scss})
