Repository CommonsEngine/Sovereign: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update README
  plugins/users/README.md
Due: prettier --write

License: AGPL-3.0
  plugins/users/package.json
Due: prettier --write

v0.2.0
  plugins/users/package.json
Due: prettier --write

v0.12.1
  platform/package.json
Due: prettier --write

add PWA support
  platform/src/config/head.js
  platform/src/public/assets/icons/icon-180.png
  platform/src/public/assets/icons/icon-192.png
  platform/src/public/assets/icons/icon-512.png
  platform/src/public/js/pwa.js
  platform/src/public/manifest.webmanifest
  platform/src/public/offline.html
  platform/src/public/sw.js
  platform/src/server.js
  platform/src/views/_partials/layout/head.html
Due: eslint --fix, prettier --write

show sidebar in settings/security
  platform/src/handlers/security.js
Due: eslint --fix, prettier --write

maintain a list of reserved route names to prevent collisions #106
  tools/build-manifest.mjs
Due: eslint --fix, prettier --write

prevent plugins to access unwanted or sensative platform data #104
  platform/src/config/env.js
  platform/src/ext-host/capabilities.js
Due: eslint --fix, prettier --write

Add Account Settings Flow
  .prettierignore
  platform/src/config/env.js
  platform/src/handlers/auth/login.js
  platform/src/middlewares/auth.js
  platform/src/middlewares/exposeGlobals.js
  platform/src/public/css/sv_styled.css
  platform/src/public/js/account-settings.js
  platform/src/routes/api/account.js
  platform/src/server.js
  platform/src/utils/auth.js
  platform/src/utils/hbsHelpers.js
  platform/src/views/_partials/account-settings-script.html
  platform/src/views/_partials/header.html
  platform/src/views/_partials/modal/account-settings.html
  platform/src/views/index.html
  platform/src/views/layouts/spa/index.html
Due: eslint --fix, prettier --write

refactor: js import and menu
  platform/src/views/_partials/account-settings-script.html
  platform/src/views/_partials/header.html
  platform/src/views/index.html
  platform/src/views/layouts/spa/index.html
Due: prettier --write

v0.12.2
  platform/package.json
Due: prettier --write

fix: prisma capability guard for plugins
  platform/src/ext-host/capabilities.js
Due: eslint --fix, prettier --write

fix: database seed script
  platform/scripts/database-seed.mjs
Due: eslint --fix, prettier --write

docs: mobile app spec
  docs/02_mobile.md
Due: prettier --write

update plugin template: js
  tools/plugin-templates/js/plugin.json
  tools/plugin-templates/js/routes/web/index.js
  tools/plugin-templates/js/views/{{namespace}}/[id].html
  tools/plugin-templates/js/views/{{namespace}}/index.html
  tools/plugin-templates/react/plugin.json
Due: eslint --fix, prettier --write

fix: pluging enable with devOnly
  docs/plugins/00_plugins-architecture.md
  tools/build-manifest.mjs
Due: eslint --fix, prettier --write

prevent serviceWorker registring in localhost
  platform/src/public/js/pwa.js
  platform/src/public/sw.js
Due: eslint --fix, prettier --write

update login page styles
  platform/src/handlers/plugin.js
  platform/src/public/css/sv_pg_auth.css
  platform/src/views/login.html
Due: eslint --fix, prettier --write

fix responsive issues in auth pages
  platform/src/public/css/sv_auth.css
  platform/src/public/css/sv_pg_auth.css
  platform/src/views/login.html
  platform/src/views/register.html
Due: prettier --write

add mobile responsive support (poc)
  platform/src/public/css/sv_styled.css
  platform/src/views/index.html
  platform/src/views/layouts/custom/index.html
  platform/src/views/layouts/spa/index.html
  platform/src/views/security.html
  plugins/users/views/users/index.html
Due: prettier --write

Update Docs
  docs/01_architecture.md
Due: prettier --write

feat: use dedicated database per plugin if need
  docs/01_architecture.md
  docs/plugins/03_plugins-database.md
  tools/database-prisma-compose.mjs
  tools/plugin-db-manage.mjs
Due: eslint --fix, prettier --write

Update architecture.md
  docs/01_architecture.md
Due: prettier --write

Initial commit
  .gitignore
  LICENSE
Due: none

docs: add initial architecture plan
  docs/architecture/plan.md
Due: prettier --write

chore: update .gitignore
  .gitignore
Due: none

chore: add basic directory structure + install next.js
  .editorconfig
  .gitattributes
  .yarnrc.yml
  package.json
  platform/.gitignore
  platform/AGENTS.md
  platform/CLAUDE.md
  platform/README.md
  platform/app/favicon.ico
  platform/app/globals.css
  platform/app/layout.tsx
  platform/app/page.module.css
  platform/app/page.tsx
  platform/eslint.config.mjs
  platform/generated/.gitkeep
  platform/next.config.ts
  platform/package.json
  platform/public/file.svg
  platform/public/globe.svg
  platform/public/next.svg
  platform/public/vercel.svg
  platform/public/window.svg
  platform/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: add Sovereign app manifest foundation
  packages/manifest/package.json
  packages/manifest/schema/manifest.schema.json
  packages/manifest/src/index.ts
  plugins/com.sovereign.launcher/manifest.json
Due: eslint --fix, prettier --write

feat: add manifest validation
  package.json
  packages/manifest/package.json
  packages/manifest/src/index.ts
  packages/manifest/src/validate.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: add manifest validation tooling
  package.json
  packages/manifest/src/validate.ts
  tools/validate-manifest.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: generate installed app registry
  package.json
  tools/generate-app-registry.ts
Due: eslint --fix, prettier --write

docs: add README
  README.md
Due: prettier --write

feat: render installed apps on platform home
  platform/app/page.tsx
Due: eslint --fix, prettier --write

refactor: add launcher app registry abstraction
  platform/app/page.tsx
  platform/src/launcher/get-installed-apps.ts
  platform/src/launcher/index.ts
Due: eslint --fix, prettier --write

feat: add canonical app route
  platform/app/apps/[appId]/page.tsx
  platform/app/page.tsx
Due: eslint --fix, prettier --write

refactor: add app resolver
  platform/app/apps/[appId]/page.tsx
  platform/src/launcher/index.ts
  platform/src/launcher/resolve-app.ts
Due: eslint --fix, prettier --write

feat: add app runtime dispatcher
  platform/app/apps/[appId]/page.tsx
  platform/src/runtime/index.ts
  platform/src/runtime/render-app-runtime.tsx
Due: eslint --fix, prettier --write

feat: add app launch metadata
  packages/manifest/schema/manifest.schema.json
  packages/manifest/src/index.ts
  plugins/com.sovereign.launcher/manifest.json
Due: eslint --fix, prettier --write

refactor: use manifest launch path in launcher
  platform/app/page.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,cjs,jsx,ts,tsx}
  prettier --write: (any of: *.{js,mjs,cjs,jsx,ts,tsx}) or (any of: *.{html,json,md,css,scss})
