Repository CommonsEngine/Sovereign: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,cjs,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{html,json,md,css,scss}": ["prettier --write"]
}

docs: lock down deployment strategy and npm publishing scope
  CLAUDE.md
  docs/sovereign-implementation-tasks.md
  docs/sovereign-proposal-plan-srs.md
Due: prettier --write

docs: unify package scope to single owned @sovereignfs/*
  CLAUDE.md
  docs/sovereign-implementation-tasks.md
  docs/sovereign-proposal-plan-srs.md
Due: prettier --write

docs: lock down build strategy and dev DX
  CLAUDE.md
  docs/sovereign-implementation-tasks.md
  docs/sovereign-proposal-plan-srs.md
Due: prettier --write

chore: add shared TypeScript config package
  CLAUDE.md
  package.json
  packages/tsconfig/base.json
  packages/tsconfig/library.json
  packages/tsconfig/nextjs.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

chore: add ESLint, Prettier, and git-hook tooling
  .editorconfig
  .prettierignore
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.ts
Due: eslint --fix, prettier --write

style: apply repo-wide Prettier formatting
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CLAUDE.md
  CONTRIBUTING.md
  SECURITY.md
  docs/sovereign-implementation-tasks.md
  docs/sovereign-proposal-plan-srs.md
  packages/tsconfig/package.json
  scripts/install-plugins.ts
Due: eslint --fix, prettier --write

fix: drop rootDir/outDir from shared library tsconfig
  packages/tsconfig/library.json
Due: prettier --write

feat: add packages/db Drizzle client factory
  CLAUDE.md
  packages/db/package.json
  packages/db/src/client.ts
  packages/db/src/dialect.ts
  packages/db/src/index.ts
  packages/db/src/migrate.ts
  packages/db/src/schema/sqlite/index.ts
  packages/db/src/schema/sqlite/platform.ts
  packages/db/tsconfig.json
  packages/db/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

feat: add packages/manifest schema and validation + Vitest
  CLAUDE.md
  package.json
  packages/manifest/package.json
  packages/manifest/src/index.ts
  packages/manifest/src/schema.ts
  packages/manifest/src/types.ts
  packages/manifest/src/validate.test.ts
  packages/manifest/src/validate.ts
  packages/manifest/tsconfig.json
  packages/manifest/tsup.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: pin shared dev tooling via pnpm catalog
  CLAUDE.md
  package.json
  packages/db/package.json
  packages/manifest/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

feat: add packages/mailer SMTP abstraction
  CLAUDE.md
  packages/mailer/package.json
  packages/mailer/src/index.ts
  packages/mailer/src/mailer.test.ts
  packages/mailer/src/mailer.ts
  packages/mailer/src/types.ts
  packages/mailer/tsconfig.json
  packages/mailer/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: record dev email-capture strategy (Mailpit, Docker + native)
  CLAUDE.md
  CONTRIBUTING.md
  docs/sovereign-implementation-tasks.md
  docs/sovereign-proposal-plan-srs.md
Due: prettier --write

feat: add Mailpit dev mail capture (compose + .env.example)
  .env.example
  docker-compose.yml
Due: none

feat: add packages/ui Sovereign Design System scaffold
  CLAUDE.md
  docs/design-system.md
  docs/sovereign-implementation-tasks.md
  package.json
  packages/ui/package.json
  packages/ui/src/components/Button/Button.module.css
  packages/ui/src/components/Button/Button.test.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/css-modules.d.ts
  packages/ui/src/index.ts
  packages/ui/src/tokens.css
  packages/ui/src/tokens/primitives.css
  packages/ui/src/tokens/semantic.css
  packages/ui/tsconfig.json
  packages/ui/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write

docs: record design-system decisions in SRS and CLAUDE
  CLAUDE.md
  docs/sovereign-proposal-plan-srs.md
Due: prettier --write

feat: add packages/sdk interface definitions
  CLAUDE.md
  eslint.config.ts
  packages/sdk/package.json
  packages/sdk/src/auth.ts
  packages/sdk/src/db.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/index.ts
  packages/sdk/src/mailer.ts
  packages/sdk/src/platform.ts
  packages/sdk/src/sdk.test.ts
  packages/sdk/src/types.ts
  packages/sdk/src/unimplemented.ts
  packages/sdk/tsconfig.json
  packages/sdk/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: record SDK interface-stub model and the underscore unused-vars rule
  CLAUDE.md
  docs/sovereign-proposal-plan-srs.md
Due: prettier --write

feat: add optional icon field to plugin manifest schema
  packages/manifest/package.json
  packages/manifest/src/schema.ts
  packages/manifest/src/validate.test.ts
Due: eslint --fix, prettier --write

docs: add Tasks, Splitify, and Plainwrite plugin specs
  docs/plugins/plainwrite.md
  docs/plugins/splitify.md
  docs/plugins/tasks.md
Due: prettier --write

docs: add Console, Launcher, and Account platform plugin specs
  docs/plugins/account.md
  docs/plugins/console.md
  docs/plugins/launcher.md
Due: prettier --write

docs: spec shell sidebar architecture and root plugin config
  CLAUDE.md
  docs/sovereign-implementation-tasks.md
  docs/sovereign-proposal-plan-srs.md
Due: prettier --write
